{% load i18n %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="PRAGMA" content="NO-CACHE">
  <meta http-equiv="EXPIRES" content="-1">
  <title>{% trans "Regional Flora" %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% block header %}
{% endblock header %}
</head>
<body {% block body_params %}{% endblock body_params %}>
<div class="container">
 <div id="header">
  <div class="inner">
   <div id="logo">
    <a href="/"><h1>{% trans "Regional<span>Flora</span>" %}</h1></a>
   </div>
   <div id="searchbox">
    <form method="get" action="/sp/"><span>{% trans "Search species" %}:&nbsp;</span><input type="text" name="name" id="name" class="textbox" /></form>
   </div>
  </div>
 </div>

 <div id="wrapper">
  <div id="col1">
   <h3><a href="/about">{% trans "About" %}</a></h3>
   <h3><a href="/methods">{% trans "Methods" %}</a></h3>
   <h3>{% trans "Ethnobotany" %}</h3>
   <ul>
    <li><a href="/ethno/overview">{% trans "overview" %}</a></li>
    <li><a href="/ethno/results">{% trans "results" %}</a></li>
   </ul>
   <h3>{% trans "History" %}</h3>
   <ul>
    <li><a href="/hist/overview">{% trans "overview" %}</a></li>
    <li><a href="/hist/results">{% trans "results" %}</a></li>
   </ul>
   <h3>{% trans "List of species" %}</h3>
   {% filter lower %}
   <ul>
    <li><a href="/sp/">{% trans "all" %}</a></li>
    <li><a href="/sp/?restor=1">{% trans "Restoration" %}</a></li>
    <li><a href="/sp/?urban=1">{% trans "Urban forestry" %}</a></li>
    <li><a href="/sp/?silv=1">{% trans "Silviculture" %}</a></li>
   </ul>
   {% endfilter %}
   <h3>{% trans "Advanced search" %}</h3>
   {% filter lower %}
   <ul>
    <li><a href="/sp/?restor=1&amp;adv=1">{% trans "Restoration" %}</a></li>
    <li><a href="/sp/?urban=1&amp;adv=1">{% trans "Urban forestry" %}</a></li>
    <li><a href="/sp/?silv=1&amp;adv=1">{% trans "Silviculture" %}</a></li>
   </ul>
   {% endfilter %}
   <h3>{% trans "Help" %}</h3>
   <ul>
    <li><a href="/faq">{% trans "Common questions" %}</a></li>
    <li><a href="/ws/1.0/info">{% trans "Web service" %}</a></li>
    <li><a href="{{ CONTACT_LINK }}">{% trans "Contact" %}</a></li>
   </ul>
  </div>

  <div id="col2">
{% block content %}
{% endblock content %}
  </div>
 </div>

 <div id="clearfooter"></div>

 <div id="footer">
  <div class="inner">
   {% trans "Created by" %} <a href="http://www.ipe.org.br">IPÊ</a> {% trans "with funding from" %} <a href="http://www.jrsbiodiversity.org">JRS</a>
  </div>
 </div>
</div>
</body>
</html>
