<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="PRAGMA" content="NO-CACHE">
  <meta http-equiv="EXPIRES" content="-1">
</head>
<body>
<!-- a href="{{ IPE_URL }}"><img alt="IPÊ" src="{{ STATIC_URL }}images/stories/logo-int.jpg" height="73" width="324" /></a><br/><br/ -->
<h3>Site em construção...</h3>
</body>
</html>
