{% extends base_template %}
{% load i18n %}
{% load digg_paginator %}
{% load tagify %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/digg_paginator.css" />
{% if interview.audio_url != None %}
<link rel="stylesheet" type="text/css" href="/static/css/jplayer/blue.monday/jplayer.blue.monday.css" />
<script type="text/javascript" src="/static/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/jplayer/jquery.jplayer.min.js"></script>
<!-- script type="text/javascript" src="/static/js/jplayer/jquery.jplayer.inspector.js"></script -->
<script type="text/javascript">

$(document).ready(function(){

  $("#jquery_jplayer_1").jPlayer({
    ready: function (event) {
      $(this).jPlayer("setMedia", { mp3:"{{ interview.audio_url }}" });
    },
    swfPath: "/static/js/jplayer",
    solution: "html, flash",
    supplied: "mp3",
    wmode: "window",
    errorAlerts: false,
    warningAlerts: false
  });
  //$("#jplayer_inspector").jPlayerInspector({jPlayer:$("#jquery_jplayer_1")});
});

</script>
{% endif %}
{% endblock header %}

{% block content %}
{% if page_obj.number == 1 %}
<div class="interview">
<h3><b>Entrevistados:</b> {{ interview.interviewees }}</h3>
<h3><b>Entrevista e transcrição:</b> {{ interview.interviewers }}</h3>
<h3><b>Data:</b> {{ interview.when|date:"d/m/Y" }}</h3>
<h3><b>Local:</b> {{ interview.locality }}</h3>
<h3><b>Horas gravadas:</b> {{ interview.duration }}</h3>
</div>

<dl class="explanation">
<dt>Simbologia</dt>
<dd>Palavra[? – tempo]: leitura da palavra correta ou aproximada.</dd>
<dd>Frase [? – tempo]: palavra ou trecho indecifrável.</dd>
<dd>- Frase: quando eles reproduzem suas falas ou de outras pessoas.</dd>
</dl>

{% if interview.audio_url|length > 0 %}
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-play" tabindex="1"></a></li>
        <li><a href="javascript:;" class="jp-pause" tabindex="1"></a></li>
        <li><a href="javascript:;" class="jp-stop" tabindex="1"></a></li>
        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute"></a></li>
        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"></a></li>
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"></a></li>
      </ul>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time"></div>
        <div class="jp-duration"></div>

        <ul class="jp-toggles">
          <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"></a></li>
          <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"></a></li>
        </ul>
      </div>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>
<!-- div id="jplayer_inspector"></div -->
{% endif %}

<h1>TRANSCRIÇÃO&nbsp;&nbsp;&nbsp;<a href="/docs/{{ interview.get_pdf_name }}"><img src="/static/images/pdficon_small.png" title="PDF"/></a></h1>

{% endif %}

{% for text in page_obj.object_list %}
{{ text|tagify|safe }}
{% endfor %}

{% if paginator.num_pages > 1 %}
{% digg_paginator %}
{% endif %}

{% if paginator.count == 0 %}
{% trans "No content" %}
{% endif %}

{% endblock content %}
