{% extends base_template %}
{% load i18n %}
{% block content %}
{% block search_options %}{% endblock search_options %}
{% if performed_query %}
{% if taxa.number == 1 %}<h1>{{ taxa.paginator.count }} {% if taxa.paginator.count == 1 %}{% trans "result" %}{% else %}{% trans "results" %}{% endif %}{% if taxa.paginator.count > 0 %} <a href="{{ full_path }}{% if "?" in full_path %}&{% else %}?{% endif %}pdf=1"><img src="/static/images/pdficon_small.png" title="PDF"/></a>{% endif %}</h1>{% endif %}
{% for taxon in taxa.object_list %}
{% with synonyms=taxon.get_synonyms popnames=taxon.get_popular_names %}
<label class="name"><a href="/sp/{{taxon.id}}"><i>{{taxon.genus}} {{taxon.species}}{% if taxon.subspecies != None and taxon.subspecies|length > 0 %}</i> var. <i>{{taxon.subspecies}}{% endif %}</i></a></label>{% if popnames %}&nbsp;&nbsp;<span class="small">({% for pop in popnames %}{{pop.name}}{% if forloop.last %}{% else %}, {% endif %}{% endfor %})</span>{% endif %}<a href="/sp/{{taxon.id}}" class="img">{% if taxon.has_pictures %}&nbsp;<img src="{{ STATIC_URL }}images/photo.png" title="{% trans "has photos" %}"/>{% endif %}{% if taxon.has_history %}&nbsp;<img src="{{ STATIC_URL }}images/microphone.png" title="{% trans "cited in interview" %}"/>{% endif %}{% if taxon.ethno_notes|length %}&nbsp;<img src="{{ STATIC_URL }}images/hand.png" title="{% trans "has ethnobotany notes" %}"/>{% endif %}</a>
{% if synonyms %}<p class="small">{% trans "Synonyms" %}:&nbsp;{% for syn in synonyms %}<i>{{syn.name}}</i>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>{% endif %}
{% if not synonyms %}<p></p>{% endif %}
{% endwith %}
{% endfor %}
{% if taxa.paginator.num_pages > 1 %}
<div class="pagination">
  <span class="step-links">
&nbsp;{% for p in taxa.paginator.page_range %}{% if p == taxa.number %}<b>{{p}}</b>{% else %}<a href="?page={{ p }}&{{ get_params }}">{{p}}</a>{% endif %}&nbsp;{% endfor %}
  </span>
</div>
{% endif %}
{% if taxa.paginator.count == 0 %}
{% trans "No species found" %}
{% endif %}
{% endif %}
{% endblock content %}
