{% extends base_template %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block header %}

{% if taxon.has_points %}
<link rel="stylesheet" href="/static/js/openlayers/theme/default/style.css" type="text/css">
<style type="text/css">
.olControlScaleLine {
    bottom: 38px;
    left: 3px;
    padding: 5px
}
div.olControlMousePosition {
    background: white;
}
</style>
<script type="text/javascript" src="/static/js/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="/static/js/openlayers/lang/pt-BR.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
{% endif %}

<script type="text/javascript">

function collapse(region_id, button_id) {

  obj = document.getElementById(region_id);
  button = document.getElementById(button_id);
  if (obj.style.display == "none") {
    obj.style.display = "block";
    button.src = "/static/images/collapse.gif"
    button.title = "{% trans "collapse" %}"
    button.alt = "{% trans "collapse" %}"
  }
  else {
    obj.style.display = "none";
    button.src = "/static/images/expand.gif"
    button.title = "{% trans "expand" %}"
    button.alt = "{% trans "expand" %}"
  }
}

function expand_content() {

  desc_panel = document.getElementById("s1");
  if (desc_panel != null) {

    // expand description content by default
    collapse("s1", "i1");
  }
}

function fr_highlight(ref_id) {

  bib_panel = document.getElementById("s6");
  if (bib_panel != null && bib_panel.style.display == "none") {

    // expand bibliography if necessary
    collapse("s6", "i6");
  }

  // highlight text

  var element = document.getElementById("ref-text-"+ref_id);
  var orig_color = element.style.backgroundColor;
  element.style.backgroundColor = "#E3EF62";
  setTimeout( function() { element.style.backgroundColor = orig_color;}, 2500 );
}

{% if taxon.has_points %}
var map;

function setmap() {

    if ( map != null ) {

      return;
    }

    {% if LANGUAGE_CODE == "pt_BR" %}
    OpenLayers.Lang.setCode("pt-BR");
    {% endif %}

    map = new OpenLayers.Map( {div: "s8",
                               projection: "EPSG:900913",
                               displayProjection: "EPSG:4326",
                               numZoomLevels: 22,
                               maxResolution: 156543.0339,
                               maxExtent: new OpenLayers.Bounds(-20037508, -20037508, 20037508, 20037508.34)} );

    map.addControls([
            new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.Attribution(),
            new OpenLayers.Control.LayerSwitcher(),
            new OpenLayers.Control.MousePosition(),
            new OpenLayers.Control.ScaleLine()
    ]);

    if ( window['google'] != undefined ) {

      var gphy = new OpenLayers.Layer.Google(
          "{% trans "Physical map" %}",
          {type: google.maps.MapTypeId.TERRAIN}
      );
      var gmap = new OpenLayers.Layer.Google(
          "{% trans "Road map" %}", // the default
          {numZoomLevels: 20}
      );
      var ghyb = new OpenLayers.Layer.Google(
          "{% trans "Hybrid map" %}",
          {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20}
      );
      var gsat = new OpenLayers.Layer.Google(
          "{% trans "Satellite map" %}",
          {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22}
      );

      map.addLayers([gphy, gmap, ghyb, gsat]);

      var markers = new OpenLayers.Layer.Markers( "Occurrence locations" );

      var proj = new OpenLayers.Projection("EPSG:4326");

      var size = new OpenLayers.Size(21,25);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('/static/js/openlayers/img/marker-gold.png',size,offset);

      var points = {% autoescape off %}{{ points }}{% endautoescape %};

      var last_point;

      for (var i = 0; i < points.length; i++) {

          var point = new OpenLayers.LonLat( points[i].x, points[i].y );

          // Google.v3 uses EPSG:900913 as projection, so we have to
          // transform our coordinates
          point.transform( proj, map.getProjectionObject() );

          // Add marker
          markers.addMarker(new OpenLayers.Marker( point, icon.clone() ));

          last_point = point;
      }

      map.addLayer(markers);

      map.setCenter( last_point, 10 );
    }
}
{% endif %}

</script>
{% endblock header %}

{% block body_params %}onload="expand_content()"{% endblock body_params %}

{% block content %}
<table width="100%">
  <tr>
   <td>
     <h1><i>{{ taxon.genus }}&nbsp;{{ taxon.species }}{% if taxon.subspecies != None and taxon.subspecies|length > 0 %}</i> var. <i>{{taxon.subspecies}}{% endif %}</i>&nbsp;{{ taxon.author }}&nbsp;<a href="{{ full_path }}?pdf=1"><img src="/static/images/pdficon_small.png" title="PDF"/></a></h1>
   </td>
  </tr>
  <tr>
   <td>
    <div style="position: relative;">
     {% if taxon.has_pictures %}
     <div style="float: right; margin-left: 15px;">
     <table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="0">
       <tr>
         <td>
           <table cellpadding="0" cellspacing="10" id="flickr_badge_wrapper">
           <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=3&display=latest&size=t&layout=h&source=group_tag&group=806927%40N20&tag=taxonomy%3Abinomial%3D{{ taxon.genus }}+{{ taxon.species }}"></script>
             <tr>
               <td id="flickr_badge_source">
               </td>
             </tr>
           </table>
         </td>
       </tr>
       <tr>
         <td width="100%" valign="middle" align="right"><a href="http://www.flickr.com/groups/encyclopedia_of_life/pool/tags/taxonomy:binomial={{ taxon.genus }} {{ taxon.species }}" style="color: #6d6d6d;"><img src="{{ STATIC_URL }}images/eol.png" width="33" height="15" title="Encyclopedia of Life"/> {% trans "images pool" %}</a> <a href="http://www.flickr.com" id="flickr_www">www.<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong>.com</a>
         </td>
       </tr>
     </table>
     </div>
    {% endif %}

{% autoescape off %}

    {% with synonyms=taxon.get_synonyms popnames=taxon.get_popular_names %}
    {% if popnames %}<h2>{% for pop in popnames %}{{pop.name}}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</h2>{% endif %}
    <p><label>{% trans "Family" %}:</label>&nbsp;{{ taxon.family|default:"-" }}</p>
    {% if synonyms %}<p><label>{% trans "Synonyms" %}:&nbsp;</label>{% for syn in synonyms %}<i>{{syn.name}}</i>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>{% endif %}
    {% endwith %}
    <p><label>{% trans "Endemic" %}:</label>&nbsp;{{ taxon.get_endemic|default:"-" }}&nbsp;<sup>{{ refs.END }}</sup>{% comment %}&nbsp;&nbsp;&nbsp;<label>{% trans "Rare" %}:</label>&nbsp;{{ taxon.get_rare|default:"-" }}{% if taxon.max_density %}&nbsp;({{ taxon.max_density }}&nbsp;{% trans "individuals per hectare" %}){% endif %}<sup>{{ refs.RAR }}</sup>{% endcomment %}</p>
    <p><label>{% trans "Biome" %}/{% trans "Fitofisionomy" %}:</label>&nbsp;{{ taxon.get_habitats|default:"-" }}&nbsp;<sup>{{ refs.HAB }}</sup></p>
    {% with conservation_recs=taxon.conservationstatus_set.all %}
    {% if conservation_recs|length > 0 %}
    <p><label>{% trans "Conservation status" %}:&nbsp;</label>{% for rec in conservation_recs %}{{ rec.status }}&nbsp;({{ rec.source.acronym }}){% endfor %}
    {% endif %}
    {% endwith %}
    {% comment %}<p><label>{% trans "Special features" %}:</label>&nbsp;{{ taxon.get_special_features|default:"-" }}&nbsp;<sup>{{ refs.SPE }}</sup></p>{% endcomment %}
    <p><label>{% trans "Uses" %}:</label>&nbsp;{{ taxon.get_use|default:"-" }}</p>
    {% if taxon.description %}<p style="text-align: justify;">{{ taxon.description }}</p>{% endif %}
    <p><label>{% trans "Specific uses" %}:</label>&nbsp;{{ taxon.get_specific_uses|default:"-" }}&nbsp;<sup>{{ refs.USE }}</sup></p>
   </div>
   </td>
  </tr>
</table>

{% if taxon.ethno_notes or taxon.has_history %}
<div class="section" onclick="collapse('s1', 'i1');return false;"><table width="100%"><tr><td width="90%" style="font-weight: bold;">{% trans "Ethnobotany & History" %}</td><td style="text-align: right;"><img id="i1" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s1" style="display: none;">
{% if taxon.ethno_notes %}<p style="text-align: justify;">{{ taxon.ethno_notes }}</p>{% endif %}
{% if taxon.ethno_notes and taxon.has_history %}<hr/>{% endif %}
{% if taxon.has_history %}
  <table width="100%" cellspacing="0">
   <tr>
    <td width="20%" valign="top">
      <label>{% trans "Cited in" %}:</label>
    </td>
    <td valign="top">{% for citation in taxon.get_citations %}{% ifchanged citation.interview %}{% if forloop.first %}{% else %})</p> {% endif %}<p style="margin-top: 0px;">{{citation.interview.title}} (p. <a href="/hist/interview/{{citation.interview.id}}/?page={{citation.page}}">{{citation.page}}</a>{% else %}, <a href="/hist/interview/{{citation.interview.id}}/?page={{citation.page}}">{{citation.page}}</a>{% endifchanged %}{% endfor %})</p>
    </td>
   </tr>
  </table>
{% endif %}
</div>
{% endif %}

<div class="section" onclick="collapse('s2', 'i2');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_general_features_data %} style="font-weight: bold;"{% endif %}>{% trans "General features" %}</td><td style="text-align: right;"><img id="i2" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s2" style="display: none;">
{% with height=taxon.get_height dbh=taxon.get_dbh %}
<p><label>{% trans "Tree size" %}:</label>{% if height %}&nbsp;{% trans "height" %}&nbsp;{{ taxon.get_height }}{% else %}{% if dbh == None %}&nbsp;-{% endif %}{% endif %}{% if dbh %}&nbsp;{% trans "DBH" %}&nbsp;{{ taxon.get_dbh }}<sup>{{ refs.SIZ }}</sup>{% endif %}</p>
{% endwith %}
<p><label>{% trans "Flowering color" %}:</label>&nbsp;{{ taxon.get_fl_color_display|default:"-" }}&nbsp;<sup>{{ refs.FLC }}</sup></p>
{% if taxon.fl_color_details %}<p>{{ taxon.fl_color_details }}</p>{% endif %}
<p><label>{% trans "Growth rate" %}:</label>&nbsp;{{ taxon.get_growth_rate|default:"-" }}&nbsp;<sup>{{ refs.GRO }}</sup></p>
{% if taxon.gr_comments %}<p>{{ taxon.gr_comments }}</p>{% endif %}
<p><label>{% trans "Foliage persistence" %}:</label>&nbsp;{{ taxon.get_foliage_persistence|default:"-" }}&nbsp;<sup>{{ refs.FOL }}</sup></p>
<p><label>{% trans "Root system" %}:</label>&nbsp;{{ taxon.get_r_type_display|default:"-" }}&nbsp;<sup>{{ refs.ROT }}</sup></p>
<p><label>{% trans "Crown shape" %}:</label>&nbsp;{{ taxon.get_cr_shape_display|default:"-" }}&nbsp;<sup>{{ refs.CRS }}</sup></p>
<p><label>{% trans "Crown diameter" %}:</label>&nbsp;{{ taxon.get_crown_diameter|default:"-" }}&nbsp;<sup>{{ refs.CRD }}</sup></p>
<p><label>{% trans "Trunk alignment" %}:</label>&nbsp;{{ taxon.get_trunk_alignment|default:"-" }}&nbsp;<sup>{{ refs.TRA }}</sup></p>
<p><label>{% trans "Bark texture" %}:</label>&nbsp;{{ taxon.get_bark_texture_display|default:"-" }}&nbsp;<sup>{{ refs.BRT }}</sup></p>
<p><label>{% trans "Fruit type" %}:</label>&nbsp;{{ taxon.get_fruit_classification|default:"-" }}&nbsp;<sup>{{ refs.FRT }}</sup></p>
</div>

<div class="section" onclick="collapse('s3', 'i3');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_care_data %} style="font-weight: bold;"{% endif %}>{% trans "Care" %}</td><td style="text-align: right;"><img id="i3" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s3" style="display: none;">
<p><label>{% trans "Pruning" %}:</label>&nbsp;{{ taxon.get_pruning|default:"-" }}&nbsp;<sup>{{ refs.PRU }}</sup></p>
<p><label>{% trans "Pests and diseases" %}:</label>&nbsp;{{ taxon.pests_and_diseases|default:"-" }}&nbsp;<sup>{{ refs.PAD }}</sup></p>
<p><label>{% trans "Thorns or spines" %}:</label>&nbsp;{{ taxon.get_thorns_or_spines|default:"-" }}&nbsp;<sup>{{ refs.TOS }}</sup></p>
<p><label>{% trans "Toxic or allergenic" %}:</label>&nbsp;{{ taxon.get_toxic_or_allergenic|default:"-" }}&nbsp;<sup>{{ refs.TOA }}</sup></p>
<p><label>{% trans "Terrain drainage" %}:</label>&nbsp;{{ taxon.get_terrain_drainage|default:"-" }}&nbsp;<sup>{{ refs.TER }}</sup></p>
{% if taxon.terrain_details %}<p>{{ taxon.terrain_details }}</p>{% endif %}
</div>

<div class="section" onclick="collapse('s4', 'i4');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_ecology_and_reproduction_data %} style="font-weight: bold;"{% endif %}>{% trans "Ecology & reproduction" %}</td><td style="text-align: right;"><img id="i4" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s4" style="display: none;">
<p><label>{% trans "Successional group" %}:</label>&nbsp;{{ taxon.get_successional_group|default:"-" }}&nbsp;<sup>{{ refs.SUG }}</sup></p>
<p><label>{% trans "Pollinators" %}:</label>&nbsp;{{ taxon.pollinators|default:"-" }}&nbsp;<sup>{{ refs.POL }}</sup></p>
<p><label>{% trans "Flowering period" %}:</label>&nbsp;{{ taxon.get_flowering_period|default:"-" }}&nbsp;<sup>{{ refs.FLP }}</sup></p>
{% if taxon.fl_details %}<p>{{ taxon.fl_details }}</p>{% endif %}
<p><label>{% trans "Seed dispersal" %}:</label>&nbsp;{{ taxon.get_dispersal_types|default:"-" }}&nbsp;<sup>{{ refs.SED }}</sup></p>
<p><label>{% trans "Dispersion agents" %}:</label>&nbsp;{{ taxon.dispersers|default:"-" }}&nbsp;<sup>{{ refs.DIS }}</sup></p>
<p><label>{% trans "Fruiting period" %}:</label>&nbsp;{{ taxon.get_fruiting_period|default:"-" }}&nbsp;<sup>{{ refs.FRP }}</sup></p>
{% if taxon.fr_details %}<p>{{ taxon.fr_details }}</p>{% endif %}
<p><label>{% trans "Symbiotic association with roots" %}:</label>&nbsp;{{ taxon.get_symbiotic_assoc|default:"-" }}&nbsp;<sup>{{ refs.SYM }}</sup></p>
{% if taxon.symbiotic_details %}<p>{{ taxon.symbiotic_details }}</p>{% endif %}
</div>

<div class="section" onclick="collapse('s5', 'i5');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_seedling_production_data %} style="font-weight: bold;"{% endif %}>{% trans "Seedling production" %}</td><td style="text-align: right;"><img id="i5" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s5" style="display: none;">
<p><label>{% trans "Seed collection" %}:</label>&nbsp;{{ taxon.get_seed_gathering|default:"-" }}&nbsp;<sup>{{ refs.SEC }}</sup></p>
{% if taxon.seed_collection %}<p>{{ taxon.seed_collection }}</p>{% endif %}
<p><label>{% trans "Seed type" %}:</label>&nbsp;{{ taxon.get_seed_type_display|default:"-" }}&nbsp;<sup>{{ refs.SET }}</sup></p>
<p><label>{% trans "Pre-germination treatment" %}:</label>&nbsp;{{ taxon.get_pregermination_treatment|default:"-" }}&nbsp;<sup>{{ refs.PGT }}</sup></p>
{% if taxon.pg_details %}<p>{{ taxon.pg_details }}</p>{% endif %}
<p><label>{% trans "Seedling production" %}:</label>&nbsp;{{ taxon.get_seedbed|default:"-" }}&nbsp;<sup>{{ refs.SDL }}</sup></p>
{% if taxon.sl_details %}<p>{{ taxon.sl_details }}</p>{% endif %}
<p><label>{% trans "Germination time lapse" %}:</label>&nbsp;{{ taxon.get_germination_time_lapse|default:"-" }}&nbsp;<sup>{{ refs.GET }}</sup></p>
<p><label>{% trans "Germination rate" %}:</label>&nbsp;{{ taxon.get_germination_rate|default:"-" }}&nbsp;<sup>{{ refs.GER }}</sup></p>
<p><label>{% trans "Number of seeds per weight" %}:</label>&nbsp;{{ taxon.seeds_per_weight|default:"-" }}{% if taxon.seeds_per_weight %}/Kg{% endif %}&nbsp;<sup>{{ refs.SPW }}</sup></p>
<p><label>{% trans "Light requirements" %}:</label>&nbsp;{{ taxon.get_light_display|default:"-" }}&nbsp;<sup>{{ refs.LIG }}</sup></p>
{% if taxon.light_details %}<p>{{ taxon.light_details }}</p>{% endif %}
</div>

{% if taxon.silviculture %}
<div class="section" onclick="collapse('s6', 'i6');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_seedling_production_data %} style="font-weight: bold;"{% endif %}>{% trans "Wood information" %}</td><td style="text-align: right;"><img id="i6" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s6" style="display: none;">
{% if taxon.wood_general_info != None and taxon.wood_general_info != "" %}<p>{{ taxon.wood_general_info }}&nbsp;<sup>{{ refs.WOO }}</sup></p>{% endif %}
<p><label>{% trans "Density" %}:</label>&nbsp;{{ taxon.wood_density|default:"-" }}{% if taxon.wood_density != None %}&nbsp;kg/m<sup>3</sup>&nbsp;<sup>{{ refs.WOO }}</sup>{% endif %}</p>
<p><label>{% trans "Has mean annual increment curve" %}:</label>&nbsp;{{ taxon.get_has_mai_curve|default:"-" }}{% if taxon.wood_has_mai_curve != None %}&nbsp;<sup>{{ refs.WOO }}</sup>{% endif %}</p>
<p><label>{% trans "Has current annual increment curve" %}:</label>&nbsp;{{ taxon.get_has_cai_curve|default:"-" }}{% if taxon.wood_has_cai_curve != None %}&nbsp;<sup>{{ refs.WOO }}</sup>{% endif %}</p>
</div>
{% endif %}

<div class="section" onclick="collapse('s7', 'i7');return false;"><table width="100%"><tr><td width="90%"{% if taxon.has_bibliography_data %} style="font-weight: bold;"{% endif %}>{% trans "Bibliography" %}</td><td style="text-align: right;"><img id="i7" src="/static/images/expand.gif" alt="{% trans "expand" %}" title="{% trans "expand" %}"/></td></tr></table></div>
<div id="s7" style="display: none;">
{% for citation in citations %}
<a id="ref-{{ citation.0 }}"></a><p id="ref-text-{{ citation.0 }}" class="bib"><sup>{{ citation.0 }}</sup>&nbsp;{% autoescape on %}{{ citation.1 }}{% endautoescape %}</p>
{% endfor %}
</div>

{% if taxon.has_points %}
<div class="section" onclick="collapse('s8', 'i8');setmap();return false;"><table width="100%"><tr><td width="90%" style="font-weight: bold;">{% trans "Occurrence locations" %}</td><td style="text-align: right;"><img id="i8" src="/static/images/expand.gif" alt="{% trans expand %}" title="{% trans expand %}"/></td></tr></table></div>
<div id="s8" style="display: none; height: 320px;">
</div>
{% endif %}

{% endautoescape %}

{% endblock content %}
